body {
	font-family: arial, Verdana;
	font-size: 12px;
	width: auto;
	margin-bottom: 2px;
}

ul.menus {
	list-style: none;
	margin: 0px;
	padding: 0px;
	min-width:150px;
}

ul.menus li {
	list-style: none;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	border: 1px solid white;
	
	color: #3d5d6a;
	line-height: 26px;
	text-indent: .5em;
	white-space: nowrap;
}

ul.menus li:hover {
	border-radius: 3px 3px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff),
		color-stop(0.4, hsl(215, 67%, 97%) ),
		color-stop(0.41, hsl(213, 48%, 95%) ) );
	border: solid 1px #c5cdd3;
}

.separator {
	width: 100%;
	border-top: 1px solid #ddd;
	margin: 5px 0;
}


